<div class="users">
  <div class="control-panel">
    <form>
      <label class="select">Select column to filter:
        <select [(ngModel)]="columnName" name="column">
          <option *ngFor="let opt of options" [value]="opt.value">{{ opt.text }}</option>
        </select>
      </label>
      <label class="input">Enter filter keywords:
        <input type="text" placeholder="filter keywords go here..." [(ngModel)]="searchedKeyword" name="search"/>
      </label>
    </form>
  </div>
  <div class="users-list-wrapper">
    <table class="users-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of usersList | search: columnName: searchedKeyword">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>